* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #000;
}

p {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h2 {
    color: #f2bc1b;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

h3 {
    color: #f2bc1b;
    font-family: 'Courier New', Courier, monospace; 
}
a {
    text-decoration: none;
    font-size: large;
    text-align: left;
    color: #353caf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


header {
    width: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
  }
  
  nav ul li {
    display: block;
    position: relative;
    float: left;
  }
  
  nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  
  nav li:hover ul {
    display: block;
  }
  
  nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #353caf;
    width: 85%;
  }
  nav ul li a:hover {
    border-top: 1px solid #f2bc1b;
    border-bottom: 1px solid #f2bc1b;
  }
  nav ul li:hover > a {
    background-color: #202020;
        padding: none;
        width: 80%;
        margin: 0;
  }
  
  nav ul ul li {
    float: none;
    position: relative;
  }

  
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
  }

  
  nav ul ul li  {
    background-color: #0D0D0D;
    margin: 0;
    width: 100%;
  }

  nav {
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    background-color: #0d0d0d;
}
ul {
    margin: auto;
    text-align: center;
}

li {
    list-style: none;
    display: inline-flex;
    margin: 0px 2em ;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav div {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

header img {
    width: 10%;
    background-color: #0D0D0D;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    width: 20em;
    margin: 20px 0px;
    background-color: #171717;
    padding: 0px 20px;
}

section h2 {
    margin: 15px 0px 7px 0px;
    text-align: center;
    color: #f2bc1b;
    font-family: 'Courier New', Courier, monospace;
}

section h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}

section img {
    width: 240px;
    display: flex;
    margin: auto;
    margin-bottom: 8px;
    -webkit-animation: imgs 1 ease 2s;
}

@keyframes imgs {
    0% {-webkit-transform: rotateY(120deg);}
    100% {-webkit-transform: rotateX(360deg);}
}

section img:hover {filter: grayscale(80%);}
    

section p {
    display: flex;
    align-content: space-around;
    font-size: 1.1em;
}

section b {
    margin-bottom: 4px;
}

section a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 100%;
    background-color: #202020;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: 3s;
}

section a:hover {
    background-color: #0d0d0d;

    -webkit-transform: rotateY(360deg);
}



.redes {
    width: 25px;
    height: 25px;
    padding: 5px;
    float: center;
}

footer {
    padding: 0.5em;
    width: 100%;
    border: 1px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

footer h3 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0 auto;
    font-size: 1.1em;
}

footer {
    display: flex;
    flex-wrap: wrap;
  }

  nav a {
    text-align: center;
  }
  
  @media screen and (max-width: 499px) {
      header img {
          width: 25%;
      }
      
      ul {
          display: flex;
          justify-content: center;
          flex-direction: column;
      }
  
      footer #socialNet {
          display: flex;
          flex-direction: row;
      }
  }
  
  @media screen and (min-width: 500px) {
      header img {
          width: 15%;
      }
      
      ul {
          display: flex;
          justify-content: center;
          flex-direction: column;
      }
  
      footer #socialNet {
          display: flex;
          flex-direction: row;
      }
  }
  
  @media screen and (min-width: 800px) {
      ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 100%;
          margin: 0;
      }
  }
  
  @media screen and (min-width: 1200px) {
      header img {
          width: 10%;
      }
  }
  
  #socialNet :hover {
      -webkit-animation: lasredes 1s 1 ease 0s;
  }
  
  @-webkit-keyframes lasredes {
      0% {
          -webkit-transform: scale(1);
      }
  
      100% {
          -webkit-transform: scale(1.2);
      }
  }
  
  